* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

.app-wrapper {
  display: grid;
  justify-items: center;
  width: 100%;
}

.app {
  width: 100%;
  max-width: 58rem;
  padding: 1.4rem 2rem;
}