fieldset form .row1 label,
fieldset form .row1 input,
fieldset form .row2 label,
fieldset form .row3 label,
fieldset form .row3 input {
    display: block;
}

fieldset {
    border: none;
    margin-top: 2rem;
}

fieldset form label {
    font-weight: 700;
}

fieldset form input {
    font-weight: 500;
}

form {
    font-size: 2rem;
}


.row1 input,
.row3 input,
.row3 select {
    width: 100%;
    height: 42px;
    font-size: 1.8rem;
}

.row3 textarea {
    width: 100%;
    font-size: 1.8rem;
    font-weight: 500;
}

form .row2 .gender div,
form .row2 .subject div {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10rem;
}

form .row2 .gender div label,
form .row2 .subject div label {
    font-weight: 500;
    display: flex;
    gap: 1rem;
}

form .row2 .gender div label input,
form .row2 .subject div label input {
    width: 1.8rem;
}

form .button-wrapper {
    display: flex;
    justify-content: space-between;
}

form button {
    width: 12rem;
    height: 4.5rem;
    border-radius: 0.6rem;
    cursor: pointer;
    font-weight: 700;
    border: 1px solid black
}

form button[value="reset"] {
    background-color: hsl(0, 100%, 70%);
}

form button[value="submit"] {
    background-color: hsl(120, 100%, 70%);
}



form,
.row1,
.row2,
.row3 {
    display: grid;
    row-gap: 1rem;
}

fieldset form input,
fieldset form select,
fieldset form textarea {
    margin-top: 0.6rem;
    padding-block: 0.8rem;
    padding-inline: 1rem;
}